<table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Status</th>
          <th scope="col">Rolling Uptime for 30 days</th>
        </tr>
    </thead>
    <tbody>
    	{{services-list services=model}}
    </tbody>
</table>